<div class="col-4 mb-3">
  <%= link_to 'Criar limite', new_limit_path, class: 'btn btn-outline-dark' %>
  <%= link_to 'Voltar à página inicial', root_path, class: 'btn btn-outline-dark'  %>
</div>
<div class="col-4 my-3">
  <h3> Limites </h3>
  <% if @limits.blank? %>
    <p class="text-danger" > Não há limites cadastrados </p>
  <% end%>
  <% @limits.each do |limit| %>
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title"><%= limit.name %></h5>
        <p> Categoria: <%= limit.category.name %> </p>
        <div class="card my-3 bg-light">
          <div class="card-body">
            <% used = limit.category.expenses.pluck(:value).compact.sum.round %>
            <% if used > limit.value.round %>
              <h5 class='text-danger'> Limite excedido! </h5>
              <h5 class='text-danger'> Valor total R$ <%= used %> </h5>
              <h5 class="card-title"> Utilizado:  <span class="text-danger"> <%= used %> </span> </h5>
            <% else %>
              <h5 class="card-title"> Utilizado:  <span class="text-success"> <%= used %> </span> </h5>
            <% end%>
            <h5 class="card-title"> Limite total: <span class="text-success"> <%= limit.value.round %> </span> </h5>
          </div>
        </div>
        <%= link_to 'Editar', edit_limit_path(limit), class: 'btn btn-outline-dark' %>
        <%= link_to 'Deletar', limit, :method => 'delete', class: 'btn btn-outline-danger' %>
      </div>
    </div>
  <% end %>
</div>
