<div class="container-fluid">
  <div class="row">
    <div class="col my-4">
      <%= link_to 'Voltar à página inicial', root_path, class: 'btn btn-outline-dark'  %>
      <%= link_to 'Crie um nova despesa', new_expense_path, class: 'btn btn-outline-dark'  %>
      <%= link_to 'Listar limites', limits_url, class: 'btn btn-outline-dark'  %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-4">
      <h3> Criar categoria </h3>
      <%= form_with(model: @category, url: categories_path) do |f| %>
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <%= f.label :nome, { class: "form-label"} %>
              <%= f.text_field :name, { class: "form-control", placeholder: "Nome da categoria" } %>
            </div>
            <%= f.submit "Criar categoria", class: "btn btn-outline-dark" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render "categories/show" %>
  </div>
</div>
