<div class="container">
<div class="col-4 mb-4">
  <%= link_to 'Voltar', :back, class: 'btn btn-outline-dark'  %>
  <a href= <%= general_expenses_path %> class="btn btn-outline-dark mt-auto" > Listar despesas </a>

</div>
  <div class="row justify-content-around">
    <div class="col-4">
      <h5> Editar despesa - ID: <%= @expense.id %> </h5>
      <%= form_for @expense do |f| %>
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <%= f.label :nome, { class: "form-label"} %>
              <%= f.text_field :name, { class: "form-control", placeholder: "Nome da despesa" } %>
            </div>
            <div class="mb-3">
              <%= f.label :valor, { class: "form-label"} %>
              <%= f.text_field :value, { class: "form-control", placeholder: "Valor da despesa" } %>
            </div>
            <div class="mb-3">
              <%= f.label :categoria, { class: "form-label"} %>
              <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name), {}, { class: "form form-group form-control" } %>
            </div>
            <div class="mb-3">
              <%= f.label :descrição, { class: "form-label"} %>
              <%= f.text_area :description, { class: "form-control", placeholder: "Descrição" } %>
            </div>
            <%= f.submit "Atualizar despesa", class: "btn btn-outline-dark" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-8">
      <img src= <%= image_path("dashboard.png") %> class="rounded mx-auto d-block" alt="Responsive image"  style="max-width: 60%;">
    </div>
  </div>
</div>
