<div class="row">
  <div class="row">
    <div class="col-3">
      <h3> Despesas gerais </h3>
    </div>
    <div class="col-4 mb-4">
      <%= link_to 'Voltar', :back, class: 'btn btn-outline-dark'  %>
      <%= link_to 'Nova despesa', new_expense_path, class: 'btn btn-outline-dark'  %>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <% @expenses.each do |expense| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark"> <%= show_svg('cash-coin.svg') %> <%= expense.id %> - </strong> <%= expense.name %></li>
              <li class="list-group-item"> <strong> Nome da despesa: </strong> <%= expense.name %> </li>
              <li class="list-group-item"> <strong> Valor: </strong> <%= expense.value %> </li>
              <li class="list-group-item"> <strong> Descrição: </strong> <%= expense.description %> </li>
              <li class="list-group-item"> <strong> Data de criação: </strong> <%= expense.created_at %> </li>
              <li class="list-group-item"> <strong> Categoria: </strong> <%= expense&.category&.name %> </p>
            </li>
            <div class="col-4 mt-4">
              <%= link_to 'Editar', expense, :method => 'edit', class: 'btn btn-outline-dark' %>
              <%= link_to 'Deletar', expense, :method => 'delete', class: 'btn btn-outline-danger' %>
            </div>
          </ul>
        </li>
        <br>
      </ul>
    <% end %>
  </div>
</div>
</div>
</div>
