<div class="container">
  <div class="row" style="width: 40rem;">
    <div class="col">
      <h5> Criar despesa </h5>
      <%= form_with(model: @expense, url: expenses_path) do |f| %>
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <%= f.label :nome, { class: "form-label"} %>
              <%= f.text_field :name, { class: "form-control", placeholder: "Nome da despesa" } %>
            </div>
            <div class="mb-3">
              <%= f.label :valor, { class: "form-label"} %>
              <%= f.text_field :value, { class: "form-control", placeholder: "Valor da despesa" } %>
            </div>
            <div class="mb-3">
              <%= f.label :categoria, { class: "form-label"} %>
              <%= f.select :category, options_from_collection_for_select(@categories, :id, :name), {}, { class: "form form-group form-control" } %>
            </div>
            <div class="mb-3">
              <%= f.label :descrição, { class: "form-label"} %>
              <%= f.text_area :description, { class: "form-control", placeholder: "Descrição" } %>
            </div>
            <%= f.submit "Criar despesa", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 28rem;  height: 13rem;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Gerenciar Categorias</h5>
          <p class="card-text">Liste e crie novas categorias de despesas de acordo com suas necessidades</p>
          <a href="../categories/new" class="btn btn-primary mt-auto" >Criar Categoria</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 28rem;  height: 13rem;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Criar Limites</h5>
          <p class="card-text">Crie limites personalizados e gerencie-os</p>
          <a href="limits/show" class="btn btn-primary mt-auto">Criar limites</a>
        </div>
      </div>
    </div>
  </div>
</div>
