<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('cash-coin.svg') %>
  </head>

  <body>
  <header class="p-3 bg-dark text-white">

      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <h1 class="logo"> Expense Tracker </h1>
          <div class="span">
          <%= show_svg('cash-coin.svg') %>
          </div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="about" class="nav-link px-2 text-white">About</a></li>
          </ul>

          <div class="text-end" style="margin-right: 12px;">
          <p class="navbar-text">
          <% if user_signed_in? %>
            Você está logado como <strong><%= current_user.name %></strong>
          <% end %>
          </p>
          </div>

          <% if !user_signed_in? %>
          <div class="text-end">
            <%= button_to "Login", new_user_session_path, :class => 'navbar-link btn btn-outline-light me-2'  %>
          </div>
          <%else %>
          <div class="text-end">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-warning mt-auto'  %>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
    <div class="d-inline-flex p-2">
    <% if notice %>
    <div class="col">
      <p class="alert alert-success"> <%= notice %> </p>
    </div>
    <% end %>
    <% if alert %>
    <div class="row">
      <p class="alert alert-danger"> <%= alert %> </p>
    </div>
    <% end %>
    </div>
    </div>

    <div class="container" style="height: 800px;">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
